:root {
  --black: #000000;
  --white: #ffffff;
  --light-black: #222222;
  --dark: #212121;
  --light: #f3f3f3;
  --grey: #d9d9d9;
  --light-grey: #ededed;
  --primary-font: 'Odibee Sans', cursive;
}
body {
  font-family: var(--primary-font);
  font-style: normal;
}
#app {
  /* background-color: var(--light); */
  /* width: 1200px; */
  /* margin: 0 auto; */
}
